.login h1 a {
  background-image: none;
}
.login h1::after {
  content: "oPatrimoine";
  font-size: 2rem;
  color: white;
  margin-bottom: 1em !important;  
}

#loginform input:focus, #loginform input:active {
  outline:  #caa12f;
  border-color:   #caa12f;
  box-shadow: 0 0 0 0 transparent;
}

.wp-core-ui .button-primary {
  background: rgba(202, 161, 47, 1);
  border-color:  rgba(202, 161, 47, 1);
  color: #fff;
  text-decoration: none;
  text-shadow: none;
}

.wp-core-ui .button-primary:active {
  outline:  rgb(192, 153, 46);
  border-color:   rgb(192, 153, 46);

}

.wp-core-ui .button-primary:hover {
  background:  rgb(192, 153, 46);
  border-color:   rgb(192, 153, 46);

}

span.dashicons.dashicons-visibility {
  color: #3c434a;
}

span.dashicons.dashicons-hidden {
  color: #3c434a;
}

p#nav {
  color: white !important;
}

a {
  color: white !important;
}


#login {

padding: 0 0 0 !important;

}

body {
  
  background-color: #fff;
  background-image:
    radial-gradient(circle, rgba(202, 161, 47, 1) 20%, rgba(253, 253, 253, 0.973) 100%);
  background-size: cover;
  background-attachment: fixed;
}

#reg_passmail {
  display: none;
}

#registerform {
  background-color: white;
  backdrop-filter: blur(2px);
  
}