/* archive-place */
.page-content {
    margin: 0 50px;
}

/* Filter Form */
:focus {
    outline: transparent none 0px;
  }

.places-list-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.places-list-form select {
    -moz-appearance: auto;
    -webkit-appearance: auto;
}

.places-list-form .inputs-container {
    width: 100%;
    margin-right: 20px;
}
.places-list-form fieldset {
    display: flex;
    border: transparent 0 solid;
    justify-content: space-between;
}
.places-list-form input, .places-list-form select {
    border: solid var(--light-grey-color) 2px;
}
.places-list-form input:focus, .places-list-form select:focus, .places-list-form input:active, .places-list-form select:active {
    border: solid var(--main-color) 2px;
}
.places-list-form input[name="place-name"] {
    width: 50%;
}
.places-list-form select[name="place-type"], .places-list-form select[name="place-department"] {
    width: 24%;;
}

/* Place list */
.post-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    position: relative;
}

.place-list {
    margin: 1em 0 0.5em 0;
}

@media screen and (min-width: 1150px) {
    .post-listing {
        grid-template-columns: repeat(4, 1fr);
       
    }
}

@media screen and (max-width: 680px) {
    .post-listing {
        grid-template-columns: repeat(2, 1fr);
       
    }
}

@media screen and (max-width: 450px) {
    .post-listing {
        grid-template-columns: repeat(1, 1fr);
       
    }
}

.load-more-btn {
    color: var(--black-color);
    padding: 4px;
    border: var(--main-color) solid 2px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
   
}

/* Place thumbnail */
.place-thumbnail {
    box-shadow: var(--light-grey-color) 0px 5px 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.place-thumbnail figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.place-thumbnail img {
    height: 8rem;
    width: 100%;
    object-fit: cover;
}
.place-thumbnail .place-infos {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}
.place-thumbnail .place-main-info {
    display: flex;
    justify-content: space-between;
}
h3 {
    font-size: 18px;
}
.place-thumbnail .place-main-info a {
    font-size: 14px;
}
.place-thumbnail .place-excerpt {
    font-size: 14px;
}
.place-thumbnail .place-infos .links {
    align-self: flex-end;
}

/* Single place page */
.place-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.single-place section {
    margin-top: 50px;
}

.single-place p, #tours-calendar {
    width: inherit;
    margin: 10px 20px;
}