header {
    display:flex;
    justify-content: space-around;


}

h4 {

    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.1em;
    color: black;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}




.opatrimoine-logo {
    width: 58px;
    height: 58px;
    margin-right: 0.5em;
}

.logo {
    display: flex;
    text-decoration: none;
    
    
}

#connection {
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 110px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background-color: #caa12f;
    color: white;
}

.menu {
    margin-top: auto;
    margin-bottom: auto;
 
}



.links:hover {
    color: #949494,
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    
     
    
}

li a {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-right: 3em;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    text-decoration: none !important;
    
}

#presentation {
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-top: 20px !important;
}

h2 {
    font-family: 'Antic Didone', serif;
}

p {

    font-family: 'Be Vietnam Pro', sans-serif;
}



.section-footer {
    display: flex !important;
    justify-content: center !important; 
    flex-wrap: wrap !important;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: small;

}





.social-media  {

    font-size: 20px;
    margin-right: 1.5em;

    flex-direction: row !important;
    justify-content: space-around !important;
    align-content: flex-start !important;

}

#menu-footer-menu {
    display: flex;
    align-content: flex-end !important;
}



