body {
    background-color: var(--white-color);
    font-family: 'Be Vietnam Pro', sans-serif;
}
a {
    text-decoration: none; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Antic Didone', serif;
}


  

@media screen and (max-width: 700px){


    /* header */

    .navbar .burger-menu {

        display: block;
        cursor: pointer;

    }



    .nav-list {
        position: absolute;

        left: 50px;
        top: 7em;
        flex-direction: column;

        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);    
    }

    .nav-list.active {
       

        left: 0;
    }

    .navbar .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar .burger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar .burger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }





    /* home-page */
    .page-content {
        margin: 0 100px;
    }

    #presentation {
        margin: 0;
    
    }


}



/* header */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;

 
}

.logo {
    display: flex;
    justify-content: center;
}

.opatrimoine-logo {
    width: 58px;
    height: 58px;
    margin-right: 0.5em;
}

.navbar h4 {

    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.1em;
    color: var(--black-color);
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-list {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;  
}



a {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--black-color);
    text-decoration: none; 
  
}

li a {
    margin-right: 3em;
    
}

li a:hover {
    color: var(--main-color);
      
    }


.button, button[type="submit"] {
    display: inline-block;
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 110px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    text-align:center;
    padding: 5.5px;
    border: none;
    background-color: var(--main-color);    
    color: var(--white-color);
}

.buttons {  
    margin-top: auto;
    margin-bottom: auto;
}

.buttons a {
    margin: 0 20px;
}


.burger-menu {
  
    display: none;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}



/* home-page */
#presentation {
    margin: 3em 11em 0 11em;

}

h2 {
    font-family: 'Antic Didone', serif;
}

p {
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-top: 1em !important;

}

.v-timeline.v-timeline--align-top.theme--light {
    margin: 0 7em;
}

.use {
    width: 100%;
    text-align: center;
    margin: 4em 0 2em 0;
  
  }

/* footer */
.section-footer {
    display: flex !important;
    justify-content: center !important; 
    flex-wrap: wrap !important;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: small;
    margin-top: 6em;
    margin-bottom: 3em;


}

.social-media  {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-bottom: 1em;
}

.fa-twitter-square {
    margin: 0 1em 0 1em;
    
   
}

.links {
text-align: center;
}




