body {
    background-color: var(--white-color);
    font-family: 'Be Vietnam Pro', sans-serif;
}
a {
    text-decoration: none; 
}

@media screen and (min-width: 700px) {
    .page-content {
        margin: 0 100px;
    }
}
@media screen and (min-width: 1000px) {
    .page-content {
        margin: 0 200px;
    }
}
@media screen and (min-width: 1
1600px) {
    .page-content {
        margin: 0 400px;
    }
}

/* header */
header {
    display:flex;
    justify-content: space-around;
}

h4 {

    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.1em;
    color: var(--black-color);
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.opatrimoine-logo {
    width: 58px;
    height: 58px;
    margin-right: 0.5em;
}

.logo {
    display: flex;
    text-decoration: none;
}

.menu {
    margin-top: auto;
    margin-bottom: auto;
}

.links:hover {
    color: var(--grey-color),
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;  
}

a {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--black-color);
    text-decoration: none; 
}
li a {
    margin-right: 3em;
    margin-top: auto;
    margin-bottom: auto;
}

.button, button[type="submit"] {
    font-family: 'Be Vietnam Pro', sans-serif;
    width: 110px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background-color: var(--main-color);    
    color: var(--white-color);
}

/* home-page */
#presentation {
    margin-left: 40px !important;
    margin-right: 40px !important;
    margin-top: 20px !important;
}

h2 {
    font-family: 'Antic Didone', serif;
}

p {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* footer */
.section-footer {
    display: flex !important;
    justify-content: center !important; 
    flex-wrap: wrap !important;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: small;
}

.social-media  {
    font-size: 20px;
    margin-right: 1.5em;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-content: flex-start !important;
}

#menu-footer-menu {
    display: flex;
    align-content: flex-end !important;
}



